@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color:  white;
    font-family: Montserrat, sans-serif;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}


/*  ======
    NAVBAR 
    ======  */
#nav-container {
    display: flex;
    /* border-radius: 40px; */
    padding: 5px;
    /* margin: 8px 8px; */
    position: fixed;
    width: 100%;
    height: 5%;
    background-color: #566a23;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px -10px rgba(86, 106, 35, 1);
} ul {
    list-style-type: none;
    padding: 2px;
    margin: 0;
} li {
    display: inline-block;
    padding-right: 15px;
    margin: 0;
    cursor: pointer;
}

/* nav-logo */
#nav-logo-container {
    flex-grow: 1;
    text-align: left;
    margin: 3px;
    width:500px;
} #nav-logo {
    list-style-image: url('img/logo3.png');
    float: left;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
} #nav-name {
    color: white;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 22px;
}


/* nav-menu */
#nav-menu-container {
    flex-grow: 6;
    width: 100%; height: auto;
    text-align: right;
} #menu li {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
} #menu li:hover {
    color:#b6a986;
}


/* nav search */
#search {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    background: #566a23;
    border-radius: 30px;
    align-items: center;
} #search:hover input{
    width: 90px;
} #search-btn{
    width: 0;
    outline: none;
    border: none;
    background: transparent;
    color:white;
    margin-right: 3px;
    font-size: 17px;
} #search-input::placeholder{
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 15px;
} #search input{
    font-family: Montserrat, sans-serif;
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    padding: 4px;
    color: white;
} #search a .fas{
    color: #b5be85;
    font-size: 18px;
}



/*  ========
    OVERVIEW 
    ========  */
#overview-container {
    display: flex;
    height: 100%;
    margin: 5%;
} #logo-container {
    flex-grow: 1;
    /* background-color: white; */
    margin: 0; padding: 0; 
} #intro-container {
    flex-grow: 4;
    /* background-color: pink; */
    margin: 0; padding: 0;
    flex-direction: column;
} #overview {
    position:relative;
    color: #566a23;
    font-weight: bolder;
    font-size: 90px;
    top: 12%;
    padding-top: 10%;
    padding-left: 10%;
    margin: 0;
} #button-container {
    margin: 0;
    position:relative;
    padding: 0;
    width: 100%;
    top: 15%; left: 40%;
} .doodle-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.2;
    background-color: #b6a986;
} #overview-logo {
    height: 70%;
    border-radius: 50%;
    margin: 0; padding: 5%;
} #overview-name {
    position:static;
    color: #566a23;
    font-weight: bolder;
    font-size: 90px;
    padding-top: 10%;
    padding-left: 10%;
} #overview-tagline {
    color: #9c722a  ;
    margin-left: 100px;
    font-weight: bolder;
    font-size: 25px;
} .see-more {
    appearance: none;
    background-color: transparent;
    border: 2px solid #566a23;
    border-radius: 15px;
    box-sizing: border-box;
    color: #566a23;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 12%;
    will-change: transform;
} .see-more:disabled {
    pointer-events: none;
} .see-more:hover {
    color: #fff;
    background-color: #566a23;
    /* box-shadow: rgba(86, 106, 35, 1) 0 8px 10px; */
    transform: translateY(-2px);
} .see-more:active {
    box-shadow: none;
    transform: translateY(0);
}



/*  =====
    ABOUT 
    =====  */
#about-container {
    display: flex;
    background-color: #9c722a;
    height: 70%;
} #about-title {
    margin: 50px;
    font-size: 400%;
    font-weight: bolder;
    color: antiquewhite;
} #about-content {
    margin: 50px;
    margin-top: 100px;
    color: antiquewhite;
}


/*  =======================
    FEATURED ESTABLISHMENTS 
    =======================  */
#featured-establishments-container {
    display: flex;
    background-color: lavender;
    height: 100%;
}


/*  ===
    MAP 
    ===  */
#map-container {
    display: flex;
    height: 90%;
}


/*  ======
    FOOTER 
    ======  */
#footer-container {
    display: flex;
    flex-direction: row;
    height: 35%;
    background-color: #b5be85;
}

.footer-title {
    color: #566a23;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 15px;
}

.footer-details {
    color: #566a23;
    margin: 0;
    padding: 0;
}

#about-us-container {
    flex-grow: 1;
    margin: 2%;
    padding: .25% 1%;
    width: 130px;
    text-align: left;
}

#contact-us-container {
    flex-grow: 1;
    margin: 2% 0;
    padding: .25% 1%;
    width: 130px;
    line-height: 25px;
}

#empty-container {
    flex-grow: 5;
    margin: 2%;
    padding: .25% 1%;
}

#credits-container {
    padding: 2px;
    font-size: 10px;
    background-color: #566a23;
    color: #dddddd;
}