@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    /* background-color: #f1f1f1; */
    /* color: black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    /* background-image: url(doodle.png); */

    /* background-image: radial-gradient(farthest-corner at 100px 100px, rgb(59, 120, 87), rgb(147, 122, 62), rgb(83, 69, 38)); */
    background-image: linear-gradient(100deg, #b5be85, #80a03d, #566a23);
    /* background-image: radial-gradient(farthest-corner at 1000px 1000px, blue, red, white); */
    background-size: 300% 300%;
    /* transition: 1s; */
    animation: color 12s ease-in-out infinite alternate;

    
}

@keyframes color{
    0%{
        /* background-position: 0 50%; */
        background-position: left;
    }
    /* 50%{
        background-position: 100 50%;
    } */
    100%{
        /* background-position: 0 50%; */
        background-position: right;
    }
}

/* .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(doodle.png);
    background-color: aquamarine;
} */

.doodle-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* box-sizing: border-box; */
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* background-color: #ffffff; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

span {
    display: flex;
    align-items: center;
}

#logo{
    width: 18vw; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    margin-right: 20vw; /* Adjust the margin as needed */
    border-radius: 50%;
}

.login-form {
    position: relative;
    margin-left: auto; /* Adjust this value as needed */
    text-align: center;
    padding: 15px;
    height: 400px;
    /* width: 300px; */

    background-color: rgba(14, 34, 4, 0.349);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#animo-cafe {
    margin-bottom: 15px;
    font-size: 200%;
    font-weight: bold;
    color: #f5b341;
}

.container #user-info input, .container #user-info button {
    width: 15vw;
    height: 5vh;
    /* margin: 2px; */
    border-radius: 10px;
    border: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

input[type="text"],
input[type="password"] {
    font-size: 14px; 
    padding: 10px; 
    box-sizing: border-box; 
}

#login {
    background-color: #d68e11;

    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border-radius: 0.5em;
    background: #d68e11;
    border: 1px solid #e8e8e8;
}

#login:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #999999,
               inset -4px -4px 12px #bebebe;
}
  
#login:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
  
#login:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #80a03d;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

  #login:hover {
    color: #ffffff;
    border: 1px solid #80a03d;
}
  
#login:hover:before {
    top: -35%;
    background-color: #80a03d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  
#login:hover:after {
    top: -45%;
    background-color: #80a03d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  

.register {
    margin-top: 10px; /* Adjust the margin as needed */
    color: white;
}

#reg-link {
    color: #d68e11;
    font-weight: 700;
}

#reg-link:hover{
    color: #80a03d;
}

#remember-span{
    margin-top: 10px;
    color: white;
}

input[type="checkbox"] {
    /* Hide the default checkbox appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    /* Change the background color when checked */
    background-color: #d68e11; /* Change to desired color */
  }

/* #sign-in {
    padding: 10px 20px;
    font-size: 16px;
} */
/* 
#login:hover {
    background-color: #80a03d;
    cursor: pointer;
} */