body {
    background-color:  white;
    font-family: Montserrat, sans-serif;
    margin: 0%;
}

/*  ======
    NAVBAR 
    ======  */
    #nav-container {
        display: flex;
        z-index: 1;
        padding: 5px;
        position: fixed;
        width: 100%;
        height: 5%;
        background-color: #566a23;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 10px -10px rgba(86, 106, 35, 1);
    } ul {
        list-style-type: none;
        padding: 2px;
        margin: 0;
    } li {
        display: inline-block;
        padding-right: 15px;
        margin: 0;
        cursor: pointer;
    }
    
    /* nav-logo */
    #nav-logo-container {
        flex-grow: 1;
        text-align: left;
        margin: 3px;
        width:500px;
        z-index: 1;
    } #nav-logo {
        list-style-image: url('img/logo3.png');
        float: left;
        height: 30px;
        margin-left: 10px;
        border-radius: 50%;
    } #nav-name {
        color: white;
        margin-left: 5px;
        font-weight: bolder;
        font-size: 22px;
    }
    
    
    /* nav-menu */
    #nav-menu-container {
        flex-grow: 6;
        width: 100%; height: auto;
        text-align: right;
    } #menu li {
        padding: 0 20px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        cursor: pointer;
    } #menu li:hover {
        color:#b6a986;
    }
    
    
    /* nav search */
    #search {
        cursor: pointer;
        padding: 5px;
        margin-right: 5px;
        background: #566a23;
        border-radius: 30px;
        align-items: center;
    } #search:hover input{
        width: 90px;
    } #search-btn{
        width: 0;
        outline: none;
        border: none;
        background: transparent;
        color:white;
        margin-right: 3px;
        font-size: 17px;
    } #search-input::placeholder{
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 15px;
    } #search input{
        font-family: Montserrat, sans-serif;
        width: 0;
        outline: none;
        border: none;
        font-weight: 500;
        transition: 0.8s;
        background: transparent;
        padding: 4px;
        color: white;
    } #search a .fas{
        color: #b5be85;
        font-size: 18px;
    }


/*  =======
    PROFILE 
    =======  */

#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color:  white;
    font-family: Montserrat, sans-serif;
    margin: 0%;
}

#profile-picture-container {
    flex-grow: 1;
    background-color: white;
    padding-top:5%;
    margin: 3%;
} #profile-picture {
    border-radius: 50%;
    border: 1px solid black;
    width: 75%;
}

#details-container {
    flex-grow: 1;
    /* background-color: pink; */
    text-align: center;
} #name {
    font-size:xx-large;
    font-weight: bolder;
    margin: 0;
} #username {
    font-size: large;
    font-weight: lighter;
    margin: 0;
} #description {
    margin: 10%;
}

#buttons-container {
    flex-grow: 1;
    padding-bottom: 5%;
    /* background-color: aquamarine; */
} #profile-buttons{
    list-style-type: none;
    padding: 2px;
    margin: 0;
} #profile-buttons > li {
    display: inline-block;
    margin: 0;
} .button {
    background-color: #d68e11;

    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border-radius: 0.5em;
    background: #d68e11;
    border: 1px solid #e8e8e8;
} .button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #999999,
               inset -4px -4px 12px #bebebe;
} .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
} .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #80a03d;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
} .button:hover {
    color: #ffffff;
    border: 1px solid #80a03d;
} .button:hover:before {
    top: -35%;
    background-color: #80a03d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
} .button:hover:after {
    top: -45%;
    background-color: #80a03d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  
/*  ======
    FOOTER 
    ======  */
    #footer-container {
        display: flex;
        flex-direction: row;
        height: 35%;
        background-color: #b5be85;
    }
    
    .footer-title {
        color: #566a23;
        font-weight: 700;
        font-size: larger;
        margin-bottom: 15px;
    }
    
    .footer-details {
        color: #566a23;
        margin: 0;
        padding: 0;
    }
    
    #about-us-container {
        flex-grow: 1;
        margin: 2%;
        padding: .25% 1%;
        width: 130px;
        text-align: left;
    }
    
    #contact-us-container {
        flex-grow: 1;
        margin: 2% 0;
        padding: .25% 1%;
        width: 130px;
        line-height: 25px;
    }
    
    #empty-container {
        flex-grow: 5;
        margin: 2%;
        padding: .25% 1%;
    }
    
    #credits-container {
        padding: 2px;
        font-size: 10px;
        background-color: #566a23;
        color: #dddddd;
    }