@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color:  white;
    font-family: Montserrat, sans-serif;
    margin: 0%;
}

/*hidden elements*/
.hidden{
    display:none;
}
.content-container{
    display:flex;
    justify-content:center;
    margin-top:15%;
    margin-left:10%;
}
/*contains logo and tagline*/
.logo-container{
    display:inline-block;
    margin-left:-10%;
    margin-top:3%;
}

#center-web-tag{
    padding-top:4%;
    padding-bottom:6%;
}

#web-title{
    float:left;
    color: #566a23;
    font-weight: bolder;
    font-size: 60px;
}

#tag-line{
    float:left;
    color: #9c722a  ;
    font-weight: bolder;
    font-size: 20px;
    margin-left:6%;
}

/*animocafe icon*/
#logo{
    float:left;
    width: 15vw; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    border-radius: 50%;
    margin-right:5%;
}

#create-acc{
    color: #9c722a  ;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom:10px;
}
.form-container{
    border:2px solid  #9c722a ;
    border-radius:20px;
    padding:20px;
    text-align:center;
    /*background-color: rgba(86, 106, 35, 0.5); */

}
/*background*/
.doodle-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    background-color: #b6a986;
}


