.buffer {
    margin-top: 55px;
}

.main {
    display: flex;
    /* background-color: pink; */
}

a {
    color: #e2e2e2;
} a:hover {
    color: #ff4654;
}


/* DISCUSSION BOARD NAV DIV */
.discussion-board-nav{
    flex: 1;
    color: #e2e2e2;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}

.discussion-nav-tags > li{
    padding-bottom: 5%;
    
} #general-disc {
    margin-right: 2%;
    color: #ff4654;
} #lft {
    margin-right: 2%;
    color: #ff4654;
} #tech-issues {
    margin-right: 2%;
    color: #ff4654;
} #off-topic {
    margin-right: 2%;
    color: #ff4654;
}

.start-discussion-btn{
    background-color: #ff4654;
    color: #e2e2e2;
    border: none;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    margin-bottom: 10%;
    cursor: pointer;
} .start-discussion-btn:hover {
    background-color: #fe3b3b;
}


/* DISCUSSION BOARD (POSTS) */
.discussion-board{
    flex: 3;
    margin-top: 5%;
    padding-right: 5%;
}

/* filter posts dropdown */
.filter-menu {
    color: #D8D8D8;
} .filter-menu .select-filter {
    background-color: #4c4c4c;
    padding: 5px;
    width: 10%;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
} .filter-menu .select-filter:hover  {
    background-color: #070707;
} .filter-menu.active .select-filter {
    background-color: #070707;
} .filter-menu .filters {
    position: fixed;
    width: 6%;
    margin-top: 5px;
    border-radius: 5px;
    background: #1a1a1a;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: small;
} .filter-menu.active .filters {
    display: block;
} .filter:hover {
    background-color: #4c4c4c;
} .filters a {
    color: #e2e2e2;
} .filter-text {
    padding-left: 15%;
}





