.buffer {
  margin-top: 55px;
}

/* * {
  border: 1px solid;
} */

.main {
  display: flex;
  color: #e2e2e2;
  /* background-color: pink; */
}

a {
  color: #e2e2e2;
}
a:hover {
  color: #ff4654;
}

/* POST HEADER */
.ip-header {
  background-color: #ff4654;
  width: 100%;
  padding-top: 2%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}
.ip-tag {
  width: 100%;
}
.ip-tag-text {
  background-color: #e2e2e2;
  color: #ff4654;
  border-radius: 5px;
  padding: 0 2%;
  font-size: small;
}
.ip-tag-logo {
  width: 20px;
  height: 20px;
}

.ip-title {
  padding: 1%;
  font-size: x-large;
}
.ip-title a:hover {
  color: #1c252e;
}
.post-id {
  display: none;
  font-size: xx-small;
}

/* INDIVIDUAL POSTS */
.individual-post {
  color: #e2e2e2;
  margin: 0 10%;
  padding: 2%;
  border-radius: 7px;
  display: flex;
}

.post-header {
  display: flex;
}

.post-votes {
  text-align: center;
}
.vote-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #e2e2e2;
}

.post-content {
  padding-left: 1%;
  width: 100%;
}

/* post header */
.header-votes {
  padding: 10px;
}
.header-content {
  width: 100%;
  background-color: rebeccapurple;
  display: flex;
}
.post-pfp-container {
  width: 7%;
}
.post-pfp {
  width: 100%;
  height: auto;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
}

.post-details {
  width: 100%;
}
.details {
  width: 100%;
  display: flex;
}
.post-metadata {
  width: 35%;
  text-align: right;
}
#post-title {
  font-size: x-large;
  padding-left: 2%;
  width: 65%;
}

/* post metadata */
#post-edit {
  font-size: small;
}
#post {
  font-size: small;
  background-color: #ff4654;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 0 3%;
}

.inline {
  width: 100%;
  display: flex;
}
.inline > li {
  display: inline;
  font-size: medium;
}

#post-username {
  padding-left: 2%;
  font-weight: bold;
  color: #d8d8d8;
  margin-bottom: 12px;
}

#post-edit,
#post-time {
  color: #d8d8d8;
}

#post-username:hover,
#post-title:hover,
.vote-btn:hover,
#post-comment:hover {
  color: #ff4654;
  cursor: pointer;
}

.post-description {
  padding-left: 2%;
  color: #d8d8d8;
  text-align: justify;
}

/* post buttons */
.post-btn {
  text-align: right;
  padding-top: 1%;
}
.reply-btn,
.edit-btn {
  padding: 2px;
  background-color: #ff4654;
  width: 5%;
  border-radius: 5px;
  border: none;
  color: #e2e2e2;
}
.reply-btn:hover,
.edit-btn:hover {
  background-color: #fe3b3b;
  cursor: pointer;
}

/* write post */
.ip-write-post-border {
  display: none;
  margin: 1% 10%;
}
.ip-write-post-border.active {
  display: block;
  border: 2px solid #ff4654;
  border-radius: 3px;
  padding: 2px;
}
