@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype'),
        url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    background-color: #1c252e;
    margin: 0;
}

a {
    color: #e2e2e2;
}