/* * {
  border: 1px solid;
} */

/* INDIVIDUAL POSTS */
.individual-post {
  color: #e2e2e2;
  padding: 2%;
  border-radius: 7px;
  display: flex;
  cursor: pointer;
}
.individual-post:hover {
  background-color: #1a1a1a;
}
.post-header {
  display: flex;
}

.post-votes {
  text-align: center;
}
.vote-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #e2e2e2;
}

.post-content {
  padding-left: 1%;
  width: 100%;
}

/* post header */
.header-votes {
  padding: 10px;
}
.header-content {
  width: 100%;
  background-color: rebeccapurple;
  display: flex;
}
.post-pfp-container {
  width: 5%;
}
.post-pfp {
  width: 100%;
  height: auto;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
}

.post-details {
  width: 100%;
}
.details {
  width: 100%;
  display: flex;
}
.post-metadata {
  width: 35%;
  text-align: right;
}
#post-title {
  font-size: large;
  padding-left: 2%;
  width: 65%;
}

/* post metadata */
#post-edit {
  font-size: small;
}
#post {
  font-size: small;
  background-color: #ff4654;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 0 3%;
}

.inline {
  width: 100%;
  display: flex;
}
.inline > li {
  display: inline;
  font-size: small;
}

#post-username {
  padding-left: 2%;
  font-weight: bold;
  color: #d8d8d8;
}

#post-edit {
  color: #ff4654;
  font-weight: bold;
}
#post-time {
  color: #d8d8d8;
}

#post-username:hover,
#post-title:hover,
.vote-btn:hover,
#post-comment:hover {
  color: #ff4654;
  cursor: pointer;
}

.post-description {
  padding-top: 3px;
  padding-left: 7%;
  color: #d8d8d8;
  text-align: justify;
}
