@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype'),
        url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    background: #2e2e2e;
    margin: 0;
}

.buffer {
    margin-top:50px;
}

/* profile header */
.profile-header{
    padding: 2%;
    padding-left: 12%;
    display: flex;
    align-items: center;
    background-color: #1C252E;
} .pfp {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 25px;
    outline: solid 4px #E4E4E4;
} .username {
    font-size: x-large;
    font-weight: bolder;
    color: #F9F9F9;
    padding-top: 10px;
} #description {
    margin: 5px;
    color: #e2e2e2;
    font-style: italic;
} 

/* profile body */
.profile-body {
    display: flex;
    margin-left: 2%;
} .profile-body a{
    color: #E4E4E4;
} .profile-body a:hover{
    color: #e53e4b
} 

/* profile navigation */
.profile-nav {
    margin-left: 10%;
    margin-top: 2%;
    color: #e2e2e2;
} .pn-tags {
    margin-top: 50%;
} .pn-tags > li {
    padding-bottom: 10%;
}  #pn-profile:hover, #pn-comments:hover, #pn-edit:hover {
    cursor: pointer;
    color: #e53e4b;
}


/* profile content */
.profile-content{
    flex-grow: 1;
    color: #e2e2e2;
    padding-left: 2%;
    margin-right: 5%;
} 



/* edit profile */
.edit-profile {
    padding-top: 2%;
    padding-left: 4%;
    margin-right: 50%;
    /* background-color: pink; */
} .edit-profile-header {
    font-weight: bold;
    font-size: x-large;
} .edit-profile-username {
    display: none;
} .row {
    width: 80%;
} td {
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 20px;
} .description {
    width: 97%;
    resize: none;
    line-height: 20px;
    height: 100px;
    background-color: #232323;
    color: #e2e2e2;
    padding: 10px;
    border: solid 1px #1a1a1a;
    border-radius: 5px;
} .profile-input {
    width: 95%;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #232323;
    color: #e2e2e2;
    border: solid 1px #1a1a1a;
    border-radius: 5px;
    padding: 10px;
} .edit-pfp {
    height:150px;
    width: 150px;
    border-radius: 50%;
    border: solid 1px #e2e2e2;
    margin-top: 15px;
    /* margin: 15px 0px; */
    padding-left: 2px;
} .pfp-button {
    display: inline;
} 

/* reset and save buttons */
.btn {
    background-color: #232323;
    color: #e2e2e2;
    padding: 10px;
    border: solid 1px #1a1a1a;
    border-radius: 5px;
} .btn:hover {
    background-color: #1a1a1a;
} input::file-selector-button {
    background-color: #232323;
    color: #e2e2e2;
    padding: 10px;
    border: solid 1px #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-edit {
    padding: 2% 5%;
}

/* trigger for making posts/replies/edit profile visible (javascript) */
.profile-comment, .profile-edit, .profile-post {
    display: none;
}

.profile-comment.active, .profile-edit.active, .profile-post.active {
    display: block;
}

.profile-header.active {
    display: none;
}