@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype'),
        url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}

* {
    border: 1px solid
}

:root {
    --b-black: rgb(28, 37, 46);
    --b-red: rgb(255, 70, 84);
    --b-grey: rgb(76, 76, 76);
    --b-white: rgb(249, 249, 249);
    --b-green: rgb(76, 217, 100);
}


body {
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    background-color: var(--b-black);
    margin: 0;
}

a {
    text-decoration: none;
    color: #FF4654;
}

/*LOGGED IN - profile*/
.nav-pfp {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.nav-username {
    color: #fff;
    font-size: 12px;
}

padding-left: 5px;

.profile {
    cursor: pointer;
    align-items: center;
    height: 34px;
    /* to match search height */
    border-radius: 5px;
}

.profile-pic {
    height: 34px;
}


/* Remove bullets */
ul {
    list-style-type: none;
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

.header {
    position: sticky;
    height: 55px;
    width: 100%;
    background: #FF4654;
    z-index: 100;
}

/* navigation bar */
.nav {
    max-width: 100%;
    width: 100%;
}

nav,
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}

nav,
.nav-menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.nav-logo {
    font-size: 25px;
}

.nav-logo,
.nav-link,
.button {
    color: #fff;
}

.nav-right {
    float: right;
}

.logo {
    height: 40px;

}

.nav-menu-logo {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 20px;
}

.nav {
    max-width: 100%;
    width: 100%;
}

nav,
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}

nav,
.nav-menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    height: 100%;
}

.nav-logo {
    font-size: 25px;
}

.nav-logo,
.nav-link,
.button {
    color: #fff;
}

.logo {
    height: 40px;
}

.nav-menu-logo {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 20px;
}

/* login button */
.button {
    padding: 6px 24px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

/* nav search */
#search {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    align-items: center;
    background: #e53e4b;
}

#search:focus-within {
    background: #e12836;
}

#search:focus-within input {
    width: 300px;
}

#search-btn {
    width: 0;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    margin-right: 3px;
    font-size: 15px;
}

#search-input::placeholder {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 12px;
}

#search input {
    font-family: Montserrat, sans-serif;
    width: 150px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    font-size: 12px;
    padding-left: 17px;
    color: white;
}

#search a .fas {
    color: #b5be85;
    font-size: 18px;
}



.main {
    margin: 50px 0 0 0;
    display: flex;
    height: 100vh;
}


#left-pane {
    flex: 0.50;
    position: relative;
    /*    background-color: blue;*/
}

#left-pane ul {
    list-style-type: none;
}

.tags {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
}

.tag {
    /*    background-color: brown;*/
    margin: 10px 0 10px 0px;
    padding: 10px 10px;
    width: 300px;

}

#left-pane a {
    text-decoration: none;
    color: var(--b-white);
}

#left-pane a:hover {
    color: var(--b-red);
}

.start-discussion-btn {
    background-color: var(--b-red);
    color: var(--b-white);
    border: none;
    border-radius: 5px;
    margin: 0px 0 10px 0px;
    padding: 10px 10px;
    width: 300px;
    cursor: pointer;
}

#right-pane {
    flex: 1;
    margin: 0px 10px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: var(--b-grey);
    color: white;
    padding: 10px;
    width: 50px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--b-white);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--b-red);
    color: var(--b-white);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}

.filters {

    margin-bottom: 7px;
}

.post-item {
    padding: 20px;
    display: flex;
    margin: 5px 0px 5px 0;
    color: aliceblue;
    border-radius: 5px;
    width: 900px;
    overflow: hidden;
}

.post-content {
    width: 100%;
    resize: none;
}

.post-content-top {
    display: flex;
    resize: none;
    overflow: hidden;
}

.pfp {
    margin-right: 20px;
    border-radius: 50%;


}

.top-row {
    display: flex;
    width: 100%;
}

.post-metadata {
    margin-left: auto;
}

.post-tag {
    background-color: var(--b-red);
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 5px;
    vertical-align: center;
    margin-right: 10px;
}

.comment-cnt img {
    margin-right: 5px;
}

.title {
    font-size: 21px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status {
    font-size: 14px;
    padding-bottom: 10px;
    color: lightgray;
}

.status .username {
    font-weight: bold;
    color: var(--b-white);
}

.status b {
    color: aliceblue;
}

.description {
/*
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
*/
    padding: 10px 0px 10px 0px;
    color: lightgray;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
    height:inherit;
}

.post-item:hover {
    background-color: black;
}

#popup-container {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 20px;
    padding-top: 26px;
    background-color: var(--b-grey);
    border: 1px solid grey;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center elements vertically */
    align-items: center;

    display: none;
}

/* form elements */
#popup-container input[type="text"],
#popup-container textarea {
    background-color: var(--b-grey);
    border: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* submit button */
#popup-container input[type="submit"] {
    background-color: var(--b-red);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.close-button {
    background-color: transparent;
    border: none;
    color: white;
    top: 10px;
    right: 10px;
    position: absolute;
}

.votes {
    background: none;
    border: none;
    font-size: 12px;
    color: var(--b-white);
    outline: none;
}

.vote-cnt {
    font-size: 15px;
    text-align: center;
    margin: 0px 3px;
}

.post-votes {
    margin-right: 10px;
}

.edited {
    color: lightgray;
    font-style: italic;
    font-size: 12px;
    padding: 8px;
}

#gendisc,
#lft,
#wrench,
#oft {
    color: var(--b-red);
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
    margin-right: 5px;
}

#cmt {
    color: var(--b-grey);
}
