@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype'),
        url('fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}

:root {
    --b-black: rgb(28, 37, 46);
    --b-red: rgb(255, 70, 84);
    --b-grey: rgb(76, 76, 76);
    --b-white: rgb(249, 249, 249);
    --b-green: rgb(76, 217, 100);
}


body {
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    background-color: var(--b-black);
    margin: 0;
}

.navbar {
    padding-left: 0;
    overflow: hidden;
    background-color: var(--b-red);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: var(--b-black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover {
    background: var(--b-black);
    color: var(--b-red);
}

.main {
    margin: 80px 0 0 0;
    display: flex;
    height: 100vh;
}


#left-pane {
    flex: 0.50;
    position: relative;
    /*    background-color: blue;*/
}

#left-pane ul {
    list-style-type: none;
}

.tags {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
}

.tag {
    /*    background-color: brown;*/
    margin: 10px 0 10px 0px;
    padding: 10px 10px;
    width: 300px;

}

#left-pane a {
    text-decoration: none;
    color: var(--b-white);
}

#left-pane a:hover {
    color: var(--b-red);
}

.start-discussion-btn {
    background-color: var(--b-red);
    color: var(--b-white);
    border: none;
    border-radius: 5px;
    margin: 10px 0 10px 0px;
    padding: 10px 10px;
    width: 300px;
    cursor: pointer;
}

#right-pane {
    flex: 1;
    margin: 10px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: var(--b-grey);
    color: white;
    padding: 10px;
    width: 50px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--b-white);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--b-red);
    color: var(--b-white);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}


.filters {
    margin-top: 10px;
}

.post-item {
    padding: 20px;
    display: flex;
    margin: 5px 30px 5px 0;
    color: aliceblue;
    border-radius: 5px;
    width: 900px;
}

.pfp {
    padding-right: 20px;
    border-radius: 50%;
}

.top-row {
    padding-bottom: 6px;
    display: flex;
}

.post-metadata {
    margin-left:auto;
    display: flex;
}

.post-tag {
    background-color: var(--b-red);
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 5px;
    vertical-align: center;
 margin-right:10px;   
}

.title {
    font-size: 21px;

}

.status {
    font-size: 14px;
    padding-bottom: 10px;
    color: lightgray;
}

.status b {
    color: aliceblue;
}

.description {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightgray;
}

.post-item:hover {
    background-color: black;
}

#popup-container {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 20px;
    padding-top: 26px;
    background-color: var(--b-grey);
    border: 1px solid grey;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center elements vertically */
    align-items: center;

    display: none;
}

/* form elements */
#popup-container input[type="text"],
#popup-container textarea {
    background-color: var(--b-grey);
    border: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* submit button */
#popup-container input[type="submit"] {
    background-color: var(--b-red);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.close-button {
    background-color: transparent;
    border: none;
    color: white;
    top: 10px;
    right: 10px;
    position: absolute;
}
