<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpikeZone</title>
        <link rel="stylesheet" href="edit-profile.css">
        <script src="https://kit.fontawesome.com/be26300aac.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="./script/index.js" defer></script>
        <script src="./script/navbar.js" defer></script>
        <script src="edit-profile.js" defer></script>
    </head>
    <body>
        <!-- MAIN -->
        <div class="main"></div>
        <div class="profile-header">
            <img class="pfp" src="images/fade-icon.png">
            <div>
                <div class="username">Fade</div> 
                <div id="description">Face your fears!</div>
            </div>
        </div>
        <div class="profile-body">
            <ul class="profile-tags">
                <a href="#" id="profile"><li class="tag active"> Profile </li></a>
                <a href="#" id="replies"><li class="tag"> Replies </li></a>
                <a href="#" id="edit-profile"><li class="tag"> Edit Profile </li></a>
            </ul>
            <div class="profile-content">
                <div class="posts">
                    It looks like there are no posts here.
                </div>
                <div class="edit-profile invisible"> 
                    <span class="edit-profile-header">Your Account</span><br><br>
                    <form id="edit-profile-form">
                        <table class="row" border="0">
                            <tr>
                                <td>
                                    &nbsp; Profile Picture <br> <img src="images/fade-icon.png" class="edit-pfp">
                                </td>
                                <td> <br>
                                    <input id="file" type="file" onchange="loadFile(event)"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp; Description<br> <textarea id="description" id="description" name="description" class="description"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"> <center>
                                    <button type="reset" class="btn">Reset</button>
                                    <button type="submit" class="btn">Save</button>
                                </center></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

