<link rel="stylesheet" href="/static/css/homepage.css" />
<link rel="stylesheet" href="/static/css/post.css" />
<link rel="stylesheet" href="/static/css/write-post.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/static/js/filter-post.js" defer></script>
<script src="/static/js/homepage.js" defer></script>
{{!-- <script src="/static/js/add-post.js" defer></script> --}}

<div class="buffer"></div>
<div class="main">
  {{!-- DISCUSSION BOARD NAVIGATION --}}
  <div class="discussion-board-nav">
    {{#if notAuth}}
        {{else}}
        <button class="start-discussion-btn">Start Discussion</button>
    {{/if}}
   
    {{!-- TODO: add separate posts for each tag --}}
    <ul class="discussion-nav-tags">
      <li><a href="#"><i class="fa-solid fa-comments" id="general-disc"></i> General Discussion</a></li>
      <li><a href="#" id="lft-tag"><i class="fa-solid fa-user-group" id="lft"></i> LFT</a></li>
      <li><a href="#"><i class="fa-solid fa-wrench" id="tech-issues"></i> Technical Issues</a></li>
      <li><a href="#"><i class="fa-solid fa-comment-dots" id="off-topic"></i> Off Topic</a></li>
    </ul>
  </div>

  {{!-- DISCUSSION BOARD (POSTS) --}}
  <div class="discussion-board">
    {{!-- filter button --}}
    {{!-- TODO: add functionality to sort posts --}}
    <div class="filter-menu">
      <div class="select-filter"><span class="selected-filter">Newest</span> ⏷</div>
      <div class="filters">
          <div class="filter"><a href="#" id="filter-newest"><div class="filter-text">Newest</div></a></div>
        <div class="filter"><a href="#" id="filter-oldest"><div class="filter-text">Oldest</div></a></div>
        <div class="filter"><a href="#" id="filter-hottest"><div class="filter-text">Hottest</div></a></div>
      </div>
    </div>

    {{!-- WRITE POST --}}
    {{>add-post}}

    {{!-- POSTS--}}
    
    <div class="posts">
      {{>post}}
    </div>
  </div>
</div>