<link rel="stylesheet" href="/static/css/homepage.css" />
<link rel="stylesheet" href="/static/css/post.css" />
<link rel="stylesheet" href="/static/css/write-post.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/static/js/filter-post.js" defer></script>
<script src="/static/js/homepage.js" defer></script>

<div class="buffer"></div>
<div class="main">
  {{!-- DISCUSSION BOARD NAVIGATION --}}
  <div class="discussion-board-nav">
    <button class="start-discussion-btn">Start Discussion</button>
    {{!-- TODO: add separate posts for each tag --}}
    <ul class="discussion-nav-tags">
      <li><a href="#"><i class="fa-solid fa-comments" id="general-disc"></i> General Discussion</a></li>
      <li><a href="#"><i class="fa-solid fa-user-group" id="lft"></i> LFT</a></li>
      <li><a href="#"><i class="fa-solid fa-wrench" id="tech-issues"></i> Technical Issues</a></li>
      <li><a href="#"><i class="fa-solid fa-comment-dots" id="off-topic"></i> Off Topic</a></li>
    </ul>
  </div>

  {{!-- DISCUSSION BOARD (POSTS) --}}
  <div class="discussion-board">
    {{!-- filter button --}}
    {{!-- TODO: add functionality to sort posts --}}
    <div class="filter-menu">
      <div class="select-filter"><span class="selected-filter">Newest</span> ⏷</div>
      <div class="filters">
        <div class="filter"><a href="#"><div class="filter-text">Newest</div></a></div>
        <div class="filter"><a href="#"><div class="filter-text">Oldest</div></a></div>
        <div class="filter"><a href="#"><div class="filter-text">Hottest</div></a></div>
      </div>
    </div>

    {{!-- WRITE POST --}}
    <div class="write-post-border">
      <div class="write-post">
        <div class="write-post-left">
          {{!-- TODO: disable post if not logged-in (OPEN LOGIN/SIGNUP FORM) --}}
          {{!-- TODO: get profile picture of logged-in user --}}
          <img src="/static/images/fade-icon.png" class="write-pfp">
        </div>
        <div class="write-post-right">
          {{!-- discussion tags and exit --}}
          <div class="write-post-tags">
            <div class="tag-menu">
              <div class="select-tag"><span class="selected-tag">Choose Tags</span></div>
              <div class="tags">
                <div class="tag"><a href="#"><div class="tag-text">General Discussion</div></a></div>
                <div class="tag"><a href="#"><div class="tag-text">LFT</div></a></div>
                <div class="tag"><a href="#"><div class="tag-text">Technical Issues</div></a></div>
                <div class="tag"><a href="#"><div class="tag-text">Off Topic</div></a></div>
              </div>
            </div>
            <div class="close-post">x</div>
          </div>
          
          {{!-- discussion inputs --}}
          <div class="write-content-div">
            <input type="text" class="post-title" placeholder="Discussion Title" /><br>
            <textarea class="post-caption" rows="7" placeholder="Write a Post..." required></textarea>
          </div>
        </div>
      </div>
      <div class="submit-post">
        <input class="submit-btn" type="submit" value="Plant the Spike" />
      </div>
    </div>

    {{!-- POSTS--}}
    <div class="posts">
      {{>post}}
    </div>
  </div>
</div>