{{!-- <link rel="stylesheet" href="/static/css/posts.css" /> --}}
<link rel="stylesheet" href="/static/css/main.css" />
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
></script>
<script src="/static/js/posts.js" defer></script>

<div class="main">
  <span id="left-pane">
    <!--add icons-->
    <ul class="tags">
      <button class="start-discussion-btn" onclick="showWritePost()">Start
        Discussion</button>
      <li><a href="#">
          <div class="tag">
            <i class="fa-regular fa-comments" id="gendisc"></i>
            General Discussion
          </div>
        </a></li>
      <li><a href="#">
          <div class="tag">
            <i class="fa-solid fa-user-group" id="lft"></i>
            LFT
          </div>
        </a></li>
      <li><a href="#">
          <div class="tag">
            <i class="fa-solid fa-wrench" id="wrench"></i>
            Technical Issues
          </div>
        </a></li>
      <li><a href="#">
          <div class="tag">
            <i class="fa-solid fa-comment-dots" id="oft"></i>
            Off Topic
          </div>
        </a></li>
    </ul>

  </span>

  <!-- WRITE POST -->
  <div id="popup-container">
    <button class="close-button" onclick="closeWritePost()">X</button>

    <form id="post-form" onsubmit="submitPost(event)">
      <label for="post-title"></label>
      <input type="text" id="post-title" placeholder="Title" />

      <label for="post-caption"></label>
      <textarea
        id="post-caption"
        rows="12"
        placeholder="Write a Post..."
        required
      ></textarea>

      <input id="submit-bttn" type="submit" value="Plant the Spike" />

      <div class="dropdown">
        <button class="post-dropbtn">Choose Tags</button>
        <div class="dropdown-content">
          <a href="#">General Discussion</a>
          <a href="#">LFT</a>
          <a href="#">Off Topic</a>
          <a href="#">Technical Issues</a>
        </div>
      </div>
    </form>
  </div>

  <span id="right-pane">

    <div class="filters">
      <div class="dropdown">
        <button class="dropbtn">Top</button>
        <div class="dropdown-content">
          <a href="#">Latest</a>
          <a href="#">Top</a>
          <a href="#">Newest</a>
          <a href="#">Oldest</a>
        </div>
      </div>

      <!--refresh button-->
    </div>

    <div id="posts-container">
          {{>posts}}
    </div>
  </span>
</div>