<link rel="stylesheet" href="/static/css/homepage.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/static/js/posts.js" defer></script>
<script src="/static/js/filter-post.js" defer></script>

<div class="buffer"></div>
<div class="main">
  {{!-- DISCUSSION BOARD NAVIGATION --}}
  <div class="discussion-board-nav">
    <button class="start-discussion-btn">Start Discussion</button>
    <ul class="tags">
      <li><a href="#"><i class="fa-solid fa-comments" id="general-disc"></i> General Discussion</a></li>
      <li><a href="#"><i class="fa-solid fa-user-group" id="lft"></i> LFT</a></li>
      <li><a href="#"><i class="fa-solid fa-wrench" id="tech-issues"></i> Technical Issues</a></li>
      <li><a href="#"><i class="fa-solid fa-comment-dots" id="off-topic"></i> Off Topic</a></li>
    </ul>
  </div>

  {{!-- DISCUSSION BOARD (POSTS) --}}
  <div class="discussion-board">

    {{!-- filter button --}}
    <div class="filter-menu">
      <div class="select-filter"><span class="selected-filter">Newest</span> ⏷</div>
      <div class="filters">
        <div class="filter"><a href="#"><div class="filter-text">Newest</div></a></div>
        <div class="filter"><a href="#"><div class="filter-text">Oldest</div></a></div>
        <div class="filter"><a href="#"><div class="filter-text">Hottest</div></a></div>
      </div>
    </div>
    
  </div>


</div>

{{!-- <div class="filters">
      <div class="dropdown">
        <button class="dropbtn">Top</button>
        <div class="dropdown-content">
          <a href="#">Latest</a>
          <a href="#">Top</a>
          <a href="#">Newest</a>
          <a href="#">Oldest</a>
        </div>
      </div> --}}

{{!-- <div class="main">
  <span id="left-pane">
    <!--add icons-->
    <ul class="tags">
      <button class="start-discussion-btn" onclick="showWritePost()">Start
        Discussion</button>
      <li><a href="#">
          <div class="tag">
            <i class="fa-regular fa-comments" id="gendisc"></i>
            General Discussion
          </div>
        </a></li>
      <li><a href="#">
          <div class="tag">
            <i class="fa-solid fa-user-group" id="lft"></i>
            LFT
          </div>
        </a></li>
      <li><a href="#">
          <div class="tag">
            <i class="fa-solid fa-wrench" id="wrench"></i>
            Technical Issues
          </div>
        </a></li>
      <li><a href="#">
          <div class="tag">
            <i class="fa-solid fa-comment-dots" id="oft"></i>
            Off Topic
          </div>
        </a></li>
    </ul>

  </span>

  <!-- WRITE POST -->
  <div id="popup-container">
    <button class="close-button" onclick="closeWritePost()">X</button>

    <form id="post-form" onsubmit="submitPost(event)">
      <label for="post-title"></label>
      <input type="text" id="post-title" placeholder="Title" />

      <label for="post-caption"></label>
      <textarea
        id="post-caption"
        rows="12"
        placeholder="Write a Post..."
        required
      ></textarea>

      <input id="submit-bttn" type="submit" value="Plant the Spike" />

      <div class="dropdown">
        <button class="post-dropbtn">Choose Tags</button>
        <div class="dropdown-content">
          <a href="#">General Discussion</a>
          <a href="#">LFT</a>
          <a href="#">Off Topic</a>
          <a href="#">Technical Issues</a>
        </div>
      </div>
    </form>
  </div>

  <span id="right-pane">

    <div class="filters">
      <div class="dropdown">
        <button class="dropbtn">Top</button>
        <div class="dropdown-content">
          <a href="#">Latest</a>
          <a href="#">Top</a>
          <a href="#">Newest</a>
          <a href="#">Oldest</a>
        </div>
      </div>

      <!--refresh button-->
    </div>

    <div id="posts-container">
          {{>posts}}
    </div>
  </span>
</div> --}}