<!DOCTYPE html>
<html>

<head>
    <title>SpikeZone</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/be26300aac.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./script/index.js" defer></script>
    <script src="./script/navbar.js" defer></script>

</head>


<body>

    <div class="main">
        <span id="left-pane">
            <!--add icons-->
            <ul class="tags">
                <button class="start-discussion-btn" onclick="showWritePost()">Start Discussion</button>
                <li><a href="#">
                        <div class="tag">
                            <i class="fa-regular fa-comments" id="gendisc"></i>
                            General Discussion
                        </div>
                    </a></li>
                <li><a href="#">
                        <div class="tag">
                            <i class="fa-solid fa-user-group" id="lft"></i>
                            LFT
                        </div>
                    </a></li>
                <li><a href="#">
                        <div class="tag">
                            <i class="fa-solid fa-wrench" id="wrench"></i>
                            Technical Issues
                        </div>
                    </a></li>
                <li><a href="#">
                        <div class="tag">
                            <i class="fa-solid fa-comment-dots" id="oft"></i>
                            Off Topic
                        </div>
                    </a></li>
            </ul>

        </span>

        <!-- WRITE POST -->
        <div id="popup-container">
            <button class="close-button" onclick="closeWritePost()">X</button>

            <form id="post-form" onsubmit="submitPost(event)">
                <label for="post-title"></label>
                <input type="text" id="post-title" placeholder="Title">

                <label for="post-caption"></label>
                <textarea id="post-caption" rows="12" placeholder="Write a Post..." required></textarea>

                <input id="submit-bttn" type="submit" value="Plant the Spike">

                <div class="dropdown">
                    <button class="post-dropbtn">Choose Tags</button>
                    <div class="dropdown-content">
                        <a href="#">General Discussion</a>
                        <a href="#">LFT</a>
                        <a href="#">Off Topic</a>
                        <a href="#">Technical Issues</a>
                    </div>
                </div>
            </form>

        </div>

        <span id="right-pane">
            <!--redo dropdown-->
            <div class="filters">
                <div class="dropdown">
                    <button class="dropbtn">Top</button>
                    <div class="dropdown-content">
                        <a href="#">Latest</a>
                        <a href="#">Top</a>
                        <a href="#">Newest</a>
                        <a href="#">Oldest</a>
                    </div>
                </div>

                <!--refresh button-->
            </div>



            <div id="posts-container">

                <div class="post-item">


                    <span class="post-votes">
                        <button class="votes" onclick="upvote()"><i class="fa-solid fa-arrow-up" id="upvote"></i></button>
                        <br>
                        <p class="vote-cnt">69</p>
                        <button class="votes" onclick="downvote()"><i class="fa-solid fa-arrow-down" id="downvote"></i></button>
                    </span>
                    <span class="post-content">

                        <span class="post-content-top">
                            <img class="pfp" src="images/fade-icon.png" height=50px width=50px>
                            <span class="details">
                                <div class="top-row">
                                    <span class="title">This is a title</span>
                                    <span class="edited">Edited</span>
                                    <span class="post-metadata">
                                        <span class="post-tag">
                                            <img src="images/default.jpg" height=13px width=13px>
                                            General Discussion
                                        </span>
                                        <span class="comment-cnt">
                                            <i class="fa-solid fa-comment" id="comment-icon" style="color: #ff4654;"></i>
                                            50</span>
                                    </span>
                                </div>

                                <span class="status">
                                    <span class="username"> aeririyel</span>
                                    <span class="post-time">started 2 hours ago</span>
                                </span>
                            </span>
                        </span>

                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel iaculis nulla. Integer cursus ligula et diam congue placerat...</div>
                    </span>


                </div>

            </div>
        </span>

    </div>

</body>

</html>
