<link rel="stylesheet" href="/static/css/profile.css">

<!-- PROFILE CONTENTS -->
    <div class="buffer"></div>
    <div class="profile-header">
        <img class="pfp" src={{pfp}}>
        <div>
            <div class="username">{{username}}</div> 
            <div id="description">{{bio}}</div>
        </div>
    </div>
    <div class="profile-body">
        {{>profiletags}}
        <div class="profile-content">
            {{>posts}}
            <div class="edit-profile invisible">
                {{>edit-profile}}
            </div>
        </div>
</div>