<link rel="stylesheet" href="/static/css/profile.css">
<script src="/static/js/profile.js" defer></script>

<!-- PROFILE CONTENTS -->
    <div class="buffer"></div>
    <div class="profile-header">
        <img class="pfp" src={{pfp}}>
        <div>
            <div class="username">{{username}}</div> 
            <div id="description">{{bio}}</div>
        </div>
    </div>
    <div class="profile-body">
        <div class="profile-nav">
            <ul class="pn-tags">
                <li id="pn-profile">Profile</li>
                <li id="pn-comments">Comments</li>
                {{#if canEdit}}
                    
                        <li id="pn-edit">Edit Profile</li>
                {{/if}}
            </ul>
        </div>
        <div class="profile-content">
            <div class="profile-post active">
                {{>post}}
            </div>
            <div class="profile-comment">
                {{!-- TODO: change this to comment --}}
                comment
                {{>post}} 
            </div>
            <div class="profile-edit">
                 {{>edit-profile}}
            </div>
        </div>
    </div>
</div>