<link rel="stylesheet" href="\static\css\edit-profile.css">
<script src="/static/js/edit-profile.js" defer></script>


<span class="edit-profile-header">Your Account</span><br><br>
<form id="edit-profile-form">
    <table class="row" border="0">
        <tr>
            <td>
                &nbsp; Profile Picture <br> <img src={{pfp}} class="edit-pfp">
            </td>
            <td> <br>
                <input id="file" type="file" name="file"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp; Description<br> <textarea  id="descriptionbio" name="description" class="description" rows="5" cols="80">{{bio}}</textarea></td>
        </tr>
        <tr>
            <td colspan="2"> <center>
                <span class="edit-profile-username" id="newUsername">{{username}}</span><br><br>
                <button type="reset" class="btn">Reset</button>
                <button type="submit" class="btn" action="/edit-profile/saveDescription" id="saveButton">Save</button>
            </center></td>
        </tr>
    </table>
</form>
               