<ul class="profile-tags">
    <a href="/profile/{{username}}" id="profile"><li class="tag active"> Profile </li></a>
    <a href="#" id="replies"><li class="tag" > Replies </li></a>
    <a href="#" id="edit-profile"><li class="tag"> Edit Profile </li></a>
</ul>