<ul class="profile-tags">
    <a href="/profile/{{username}}"><li class="tag active"> Profile </li></a>
    <a href="#"><li class="tag"> Replies </li></a>
    <a href="/edit-profile/{{username}}" id="edit-profile"><li class="tag"> Edit Profile </li></a>
</ul>