<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <title> Spike Zone | {{title}} </title>
    </head>
    <body>
        {{>navbar}}       
        {{{body}}}
    </body>
</html>