<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/be26300aac.js" crossorigin="anonymous"></script>
        <title> Spike Zone | {{title}} </title>
    </head>
    <body>
        {{>navbar}}       
        {{{body}}}
    </body>
</html>